{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <div class="box-header">
                    <div class="btn-group pull-right margin-r-5">
                        <button class="btn bg-blue btn-xs">
                            工作报告
                        </button>

                    </div>
                    <div class="btn-group pull-right margin-r-5">
                        <button class="btn bg-red btn-xs">
                            日程安排
                        </button>
                    </div>
                    <div class="btn-group pull-right margin-r-5">
                        <button class="btn bg-green btn-xs">
                            项目记录
                        </button>
                    </div>
                    <div class="btn-group pull-right margin-r-5">
                        <button class="btn bg-info btn-xs">
                            <strong>图例说明:</strong>
                        </button>
                    </div>
                </div>
                <!-- THE CALENDAR -->
                <div id="calendar">
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </section>

    <!-- /.content -->

{% endblock %}


{% block javascripts %}

{% endblock %}